@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: black;
  color: white;
}

/* * NAVBAR */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60vw;
  margin: auto;

  position: relative;
  z-index: 2;
}

.navbar img {
  height: 80px;
}

.btn {
  padding: 3px 8px;
  background-color: rgba(0, 0, 0, 0.057);
  color: white;
  border: 1px solid white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.4s;
}

.btn:hover {
  background-color: red;
}

.btn-red {
  background-color: red;
  transition: all 0.4s;
}

.btn-red:hover {
  background: transparent;
}

/* * HERO */

.hero {
  height: 100vh;

  background-image: url(./images/banner.jpg);
  background-position: center center;
  background-size: cover;
  position: relative;
}

.layer {
  position: absolute;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  background-color: black;
  opacity: 0.6;
}

.hero-content {
  position: relative;
  z-index: 2;
  /* 100%'den 100px çıkartıp hesapla */
  height: calc(100% - 100px);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 5%;
}

.hero-content h1 {
  font-size: 40px;
}

.hero-content p {
  font-size: 20px;
  font-weight: 500;
}

.hero-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.hero-buttons input {
  padding: 7px 100px 7px 15px;
  background-color: rgba(0, 0, 0, 0.557);
  border: 1px solid rgb(197, 197, 197);
  border-radius: 4px;
  color: white;
}

.hero-buttons button {
  font-size: 18px;
}

.separation {
  width: 100%;
  height: 0;
  border-bottom: 5px solid rgb(54, 54, 54);
}

/* * INFO AREA */

.info-area {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: center;
  max-width: 70vw;
  margin: auto;
}

.info-area .info-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info-area .info-image {
  position: relative;
}

.info-area .info-image img {
  width: 500px;
}

.info-area .info-image video {
  position: absolute;
  top: 50px;
  left: 20px;
  z-index: -1;
}

/* * FAQ AREA */

.faq-area {
  padding: 30px;
  text-align: center;
}

.faq-area h2 {
  font-size: 40px;
  font-weight: 600;
}

.faq-box-container {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-top: 40px;
}

.faq-box {
  background-color: #272727;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  width: 60vw;
  margin: auto;
  padding: 24px;
  cursor: pointer;
  transition: all 0.4s;
}

.faq-box:hover {
  background-color: #202020;
}

/* * FOOTER */

.footer {
  max-width: 60vw;
  margin: auto;
  padding: 34px;
}

.footer .questions {
  font-size: 25px;
  margin-bottom: 50px;
}

.footer-item-container {
  display: flex;
  gap: 40px;

  /* şuan elementlerin bazıları flexe sığmıyor, flexbox yapısındayken satıra
  sığmayan elementleri bi sonraki satıra koy demenin yolu */

  flex-wrap: wrap;
  padding-bottom: 50px;
}

.footer-item {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 10px;
}

.footer-item a {
  color: white;
  font-size: 18px;
  transition: all 0.4s;
}

.footer-item a:hover {
  color: red;
}

/* ~ RESPONSİVE TASARIM */

@media (max-width: 1000px) {
  .info-area {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }
}

@media (max-width: 700px) {
  .info-image img {
    width: 400px !important;
  }

  .info-image video {
    width: 350px;
  }

  .hero-content h1 {
    font-size: 20px;
  }

  .hero-content p {
    font-size: 12px;
  }

  .btn {
    font-size: 12px;
  }

  .navbar {
    width: 90vw;
  }

  .hero-buttons {
    display: flex;
    flex-direction: column;
  }

  .info-area h1 {
    font-size: 24px;
  }

  .info-area p {
    font-size: 14px;
  }

  .faq-area h2 {
    font-size: 24px;
  }

  .faq-box {
    font-size: 12px;
    padding: 10px;
  }
}
